@using Ones.cms.Models;
@functions{
    public DataContext db = new DataContext();
    public List<FEEDBACK> GetDb()
    {
        var list_FEEDBACKS = db.FEEDBACKs.ToList();
        return list_FEEDBACKS;
    }
}
@model List<FEEDBACK>
<div class="col-md-12 col-sm-11  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Table design <small>Custom design</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">ID </th>
                            <th class="column-title">NAME </th>
                            <th class="column-title">EMAIL </th>
                            <th class="column-title">PHONE_NUMBER </th>
                            <th class="column-title">TITLE </th>
                            <th class="column-title">DESCRIPTION </th>
                        </tr>
                    </thead>

                    <tbody>
                       
                        @{
                            var _list = GetDb();
                        }
                        @foreach (var item in _list)
                        {
                        <tr class="odd pointer">

                            <td>@item.ID</td>

                            <td>@item.NAME</td>

                            <td>@item.EMAIL</td>

                            <td>@item.PHONE_NUMBER</td>

                            <td>@item.TITLE</td>

                            <td>@item.DESCRIPTION</td>
                        </tr>
                        }




                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
